extends layout

block content
  .container.theme-showcase(role='main')
    h1= title
    .row
      .col-md-6.col-offset-3
        .jumbotron
          ul#tasks.list-group
            each task,index in completed
              li.list-group-item(data-index=task.id)= task.desc
                a(href="#") delete
