body{
	background: #CDE6FF;

}
.header{
	background-image: url("bg_body.png");
	width: 100%;
	height: 133px;
	background-repeat: repeat-x;
}
h1{
	font-size: 50px;
}
.orange{
	color: #E2A464;
	border-bottom: 3px solid white;
	font-size: 30px;
}

.sidebar{
	background-color: #E9F5FE;
	width: 120px;
	float: right;
}
.sidebar > p, h2 {
	margin-left: 10px;
	margin-right: 10px;
}
.sidebar>p{
	margin-top: -15px;
}
.main > p{
	margin-left: 50px;
	margin-right: 150px;
	font-size: 20px
}